
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="TecSpy is an Android Spy RAT app which can monitor all android devices. Monitor WhatsApp chats, Call recordings, GPS locations, Contacts, Call Logs, File Explorer & more without root. Also Spy Facebook, Instagram, Tinder & Gmail." name=description>
    <title>TecSpy</title>
    <link href=/favicon.png rel=icon>
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="stylesheet" href="/css/snackbar.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
	<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/snackbar.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>


    <body>
        <div class="ui container">
            <br>
<div class="ui secondary menu">
    <div class="header item"><a href="/panel"><img src="/logo.png" style="width: 100px"></a></div>
    
    <a href="/panel" class="item"> <i class="icon mobile alternate"></i>&nbsp;&nbsp; Devices</a>

    <a href="/builder" class="item"> <i class="icon wrench"></i>&nbsp;&nbsp; APK Builder </a> 

    <a href="/changepass" class="item"> <i class="icon wrench"></i>&nbsp;&nbsp; Change Password </a>

    <a href="/logs" class="item"> <i class="icon terminal"></i>&nbsp;&nbsp; Event Log </a>
    
    <div class="right menu">
        <a href="/logout" class="ui item"> <i class="icon door"></i>&nbsp;&nbsp; Logout </a>
    </div>
</div>
<div class="ui divider"></div>
<br>
<p> This is a demo of the main system. You can't change the password on demo </p>
          </p>

                <div class="ui segment">

                    <div id="dimmer" class="ui dimmer">
                        <div class="ui indeterminate text loader" id="loadingText">Changing Password</div>
                    </div>

                    <h1 id="success" class="ui" style="text-align: center">Change Password</h1>
                    <div class="ui form" id="form">
                        <div class="inline fields">
                            <div class="six wide field">
                                <div class="ui labeled input">
                                    <input type="text" id="cp" placeholder="Enter new password" title="">
                                </div>
                            </div>

                        </div>
                        <div class="inline fields">
                            <div class="six wide field">
                                <div class="ui labeled input">
                                    <button id="submit" class="positive ui fluid button"><i class="wrench icon"></i>Submit</button>                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <style>
            .inline.fields {
                justify-content: center;
            }
        </style>
  <% include partials/footer.ejs %>      
  </body>

</html>
